body{ 
    margin:0px;
    padding:0px;
    background-color:white;
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "beatsdre amazon apple adidas"
    "adidas apple amazon beatsdre";
}

.beatsdre { 
    grid-area: beatsdre;
    width: 125px;
    height: 125px;
    padding-left: 12.5px;
}

.amazon {
    grid-area: amazon;
    width: 200px;
    height: 100px;
    object-fit: cover;
    padding-top: 10px;
}

.apple {
    grid-area: apple;
    width: 100px;
    height: 100px;
    object-fit: cover;
    padding-left: 45px;
    
}

.adidas {
    grid-area: adidas;
    width: 150px;
    height: 100px;
    object-fit: cover;
}





